<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Tour of Heroes</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/heroes">Heroes</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/heroes">Heroes</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/gdlm91/study-angular2-toh">gdlm91</a>
    </div>
  </div>
</footer>
